@import "tailwindcss";

/*** Tailwind @Apply =======================================*/

.hover {
    @apply hover:scale-110 opacity-90 cursor-pointer transition duration-200
}

.hover-r {
    @apply hover:translate-x-2.5 opacity-90 cursor-pointer transition duration-200
}

/*! CSS ---------------------------------------------------------- */
/*** CSS Fade =====================================================*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in {
    animation: fadeIn 0.6s ease-out both;
}
.fade-in-up {
    animation: fadeInUp 0.6s ease-out both;
}

.fade-in-left {
    animation: fadeInLeft 0.6s ease-out both;
}

.fade-in-right {
    animation: fadeInRight 0.6s ease-out both;
}


/*** CSS Float =====================================================*/
@keyframes float {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-3.5px) scale(1);
    }

    100% {
        transform: translateY(0) scale(1);
    }

}

@keyframes floatScale {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-10px) scale(1.2);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.float {
    animation: float 3.5s ease-in-out infinite;
}

.floatCoffee {
    animation: floatScale 4s ease-in-out infinite;
}


/*! CSS Rotate =====================================================*/
@keyframes rotateSlow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-slow {
    animation: rotateSlow 10s linear infinite;
}

/* =========================================================*/