@import "tailwindcss";

/*! Tailwind @Apply =======================================*/

.hover {
    @apply hover:scale-110 opacity-90 cursor-pointer transition duration-200
}

.hover-r {
    @apply hover:translate-x-2.5 opacity-90 cursor-pointer transition duration-200
}

/*! CSS =====================================================*/
@keyframes float {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-3.5px) scale(1);
    }

    100% {
        transform: translateY(0) scale(1);
    }

}
@keyframes floatScale {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-10px) scale(1.2);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.float {
    animation: float 3.5s ease-in-out infinite;
}
.floatCoffee {
    animation: floatScale 4s ease-in-out infinite;
}


/* =========================================================*/
@keyframes rotateSlow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-slow {
    animation: rotateSlow 10s linear infinite;
}

/* =========================================================*/
